x-cursor,
x-spiral {
	display: contents;
}

html,
body {
	height: 100%;
	margin: 0;
	background: #eee;
	font:
		400 16px/1.3 'Helvetica Neue',
		helvetica,
		sans-serif;
	text-rendering: optimizeSpeed;
	color: #444;
	overflow: hidden;
}

.cursor {
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 8px;
	margin: -5px 0 0 -5px;
	border: 2px solid #f00;
	border-radius: 50%;
	transform-origin: 50% 50%;
	pointer-events: none;
	overflow: hidden;
	font-size: 9px;
	line-height: 25px;
	text-indent: 15px;
	white-space: nowrap;
}
.cursor:not(.label) {
	contain: strict;
}
.cursor.label {
	overflow: visible;
}
.cursor .label {
	position: absolute;
	left: 0;
	top: 0;
}
