x-app,
x-viz-demo {
	display: contents;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	background: #111;
	color: #777;
}

a {
	color: #777;
}

.demo {
	overflow-x: hidden;
	position: relative;
}

.point {
	width: 4px;
	height: 4px;
	position: absolute;
	shape-rendering: optimizeSpeed;
}

.controls {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 15px;
	background: #e41f1c;
	border-bottom: 1px solid darkred;
	display: flex;
	justify-content: center;
	color: white;
	white-space: nowrap;
}
.controls > input {
	margin: 0 10px;
	width: 50%;
}
.controls label {
	margin-left: 30px;
}

.about {
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

.app-wrapper,
.demo {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
